<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.cs2380ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=cs2380;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>